:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(3, 3, 3);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Arial', serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.imc-table {
    display: flex;
    justify-content: space-around;
}

.paragrafo-resultado, .bad {
    padding: 10px;
    background-color: rgb(109, 255, 182);
}

.bad {
    background: rgb(255, 150, 150);
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
}

form button:hover{
    background: var(--primary-color-darker);
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}